pipeline/P001_Ingestion_Pipeline.json
{
	"name": "P001_Ingestion_Pipeline",
	"properties": {
		"description": "copy data from mysql to bronze",
		"activities": [
			{
				"name": "Copy_m26",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "`orders`"
					},
					{
						"name": "Destination",
						"value": "pgr-container/Delta/Bronze/mysql_rawfiles/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "MySqlSource"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings",
							"maxRowsPerFile": 1000,
							"fileNamePrefix": {
								"value": "@concat(\n    'orders_table_', \n    formatDateTime(utcnow(), 'yyyy_MM_dd_HHmmss'), \n    '.parquet'\n)",
								"type": "Expression"
							}
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "P001_SrcDataset_MySqlTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "P001_DestDataset_parquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupOldWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource"
					},
					"dataset": {
						"referenceName": "P001_SrcDataset_watermarkTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LookupNewWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT MAX(updated_at) as NewWatermarkValue FROM orders",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "P001_SrcDataset_MySqlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "UpdateWatermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy_m26",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "UPDATE watermarktable\r\nSET WatermarkValue = '@{activity('LookupNewWatermark').output.firstRow.NewWatermarkValue}'\r\nWHERE TableName = 'orders';\r\n\r\nSELECT 1 AS dummy;\r\n",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "P001_SrcDataset_watermarkTable",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}